.main-container {
    height: 100vh;
    width: 100vw;
}

.sidebar {
    z-index: 1;
    position: absolute;
    top: 0;
    height: 100vh;
    left: -20vw;
    width: 20vw;
    transition: left 0.3s ease-in-out;
    background-color: lightgray;
    padding: 10px;
}

.sidebar.visible {
    left: 0;
}

.sidebar-toggle {
    z-index: 1;
    position: absolute;
    height: 100vw;
    width: 20px;
}


